*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    p{
        color: rgb(40, 37, 37);
    }

    span{
        font-size: 1.5rem;
        user-select: none;
    }

    button{
        padding: 0.8rem 1.2rem;
        border: 1px solid #000;
        border-radius: 1rem;
        font-size: 1.1rem;
        background-color: rgba(128, 128, 128, 0.187);
        backdrop-filter: blur(15px);
        user-select: none;
    }
}
